<div *ngIf="categories$ | async as categories">
  <div *ngIf="publicationList && publicationList.length > 0; else notPublications">
    <div class="card publication-card mb-2" *ngFor="let item of publicationList"
      (click)="selectPublicationHendler(item)">
      <div class="card-body">

        <h5 class="card-title">{{getCategoryName(item.categoryId, categories)}}</h5>

        <h6>{{item.title}}</h6>

        <p><small class="text-muted"><i class="pi pi-calendar"></i> {{getPublicationData(item)}}</small></p>

        <div class="card-text text-truncate" [innerHTML]="item.description"></div>

        <div>
          <p class="card-text"><small class="text-muted"><i class="pi pi-eye"></i> {{item.views}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #notPublications>
  <div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">There are no publications!</h1>
      <a routerLink="/wp-admin/publication/create">Publish new now.</a>
    </div>
  </div>
</ng-template>
