<p-menubar [model]="publicPages">
  <div *ngIf="isLoggedIn; then logoutBlock else loginBlock"></div>
</p-menubar>

<ng-template #logoutBlock>
  <div>
    <button pButton pRipple (click)="menu.toggle($event)" type="button" icon="pi pi-user"
      class="p-button-rounded p-button-info p-button-outlined"></button>
    <p-menu #menu [model]="privatePages" [popup]="true"></p-menu>
  </div>
</ng-template>

<ng-template #loginBlock>
  <p-button routerLink="/login" label="Login" icon="pi pi-sign-in" styleClass="p-button-sm"></p-button>
</ng-template>
